### Build ###
/build/
/out/
/target/
/bin/
*.class

### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

### IDEs ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### OS files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment / Config ###
*.env
**/application-local.yml
# application-secure.yml  # 민감정보 있으면 주석 해제

### Others ###
node_modules/
API_Integration_Summary.md
src/main/resources/application-local.yml
uploads/
